---
layout: default
---
<div class="post">
  <header class="post-header">
    {% assign type_label = page.collection_name %}
    {% if type_label == "projects" %}
      {% assign type_label = "projets" %}
    {% elsif type_label == "posts" %}
      {% assign type_label = "articles" %}
    {% elsif type_label == "books" %}
      {% assign type_label = "ouvrages" %}
    {% endif %}

    {% if page.type == 'categories' %}
      <h1 class="post-title"><i class="fa-solid fa-tag fa-sm"></i> {{ page.title }}</h1>
      <p class="post-description">
        Explorer les {{ type_label }} classés dans la catégorie <strong>{{ page.title }}</strong>
      </p>

    {% elsif page.type == 'year' %}
      <h1 class="post-title"><i class="fa-solid fa-calendar fa-sm"></i> {{ page.date | date: '%Y' }}</h1>
      <p class="post-description">
        Explorer les {{ type_label }} publiés en <strong>{{ page.date | date: '%Y' }}</strong>
      </p>

    {% elsif page.type == 'tags' %}
      <h1 class="post-title"><i class="fa-solid fa-hashtag fa-sm"></i> {{ page.title }}</h1>
      <p class="post-description">
        Explorer les {{ type_label }} associés au tag <strong>{{ page.title }}</strong>
      </p>
    {% endif %}
  </header>

  <article class="archive">
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
        {% for document in page.documents %}
          <tr>
            <th scope="row">{{ document.date | date: '%b %d, %Y' }}</th>
            <td>
              {% if document.redirect == blank %}
                <a class="post-link" href="{{ document.url | relative_url }}">{{ document.title }}</a>
              {% elsif document.redirect contains '://' %}
                <a class="post-link" href="{{ document.redirect }}" target="_blank">{{ document.title }}</a>
              {% else %}
                <a class="post-link" href="{{ document.redirect | relative_url }}">{{ document.title }}</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </article>
</div>
