---
layout: default
---
{% if page._styles %}
  <!-- Page/Post style -->
  <style type="text/css">
    {{ page._styles }}
  </style>
{% endif %}

<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    {% if page.date %}
      {% assign mois = "janvier,février,mars,avril,mai,juin,juillet,août,septembre,octobre,novembre,décembre" | split: "," %}
      {% assign mois_index = page.date | date: "%-m" | minus: 1 %}
      {% assign mois_nom = mois[mois_index] %}
      <p class="post-meta">
        {{ page.date | date: "%-d" }} {{ mois_nom }} {{ page.date | date: "%Y" }}
      </p>
    {% endif %}
    <p class="post-description">{{ page.description }}</p>
  </header>

  <article>
    {{ content }}
  </article>

  {% if page.related_publications %}
    <h2>References</h2>
    <div class="publications">
      {% bibliography --cited_in_order %}
    </div>
  {% endif %}

  {% if site.giscus and page.giscus_comments %}
    {% include giscus.liquid %}
  {% endif %}
</div>
